body{
  font-family:"Helvetica","Arial",serif;
  color:#333;
  background-color:#ccc;
  margin:lem 10%;
}
hl{
  color:#333;
  background-color:transparent;
}
a{
  color:#c60;
  background-color:transparent;
  font-weight:bold;
  text-decoration:none;
}
ul{
	padding:0;
}
li{
  float :left;
  padding: 1em;
  list-style:none;
}
#imagegallery{
	list-style:none;
	}
body ul li a img {
	float: left;
	height: 50px;
	width: 50px;
}

#imagegallery li{
	display: inline;
}
#placeholder {
	float: left;
	clear: both;
}
p {
	clear: both;
	float: left;
}

#imagegallery li a img{
	border:0;
	}
